html {
	overflow-y: hidden;
}

body {
	font-family: 'Arial Narrow', Helvetica, sans-serif;
	font-stretch: condensed;
}

#canvas {
	cursor: move;
}

#item-panel {
	bottom: 15px;
    right: 15px;
    width: calc(70%);
    position: absolute;
   /* overflow: auto;*/
    height: 25%;
    max-height: calc(25%);
    display: none;
}

#commitDetailTitle {
	display: none;
}

#header {
	display: flex;
    position: relative;
    height: 20%;    
}

#item-panel #list {
    height: 75%;
    overflow: auto;
    bottom: 0;
    position: relative;
}

#item-panel table {
	width: 100%;
}

#item-panel table th, td {
	border: 1px solid lightgrey;
    text-align: center;
}

#news-list-group-header {
	color: white;
	background-color: rgb(120, 160, 90);
	height: 45px;
	margin: 0 0 0 0;
	font-size: 18px;
	padding: 8px 8px 0px 0px;
	max-width: calc(33.33%);
	width: calc(33.33%);
}

#news-list {
	display: none;
}

#issue-list-group-header {
	color: white;
	background-color: rgb(225, 65, 55);
	height: 45px;
	margin: 0 0 0 0;
	font-size: 18px;
	padding: 8px 8px 0px 0px;
	max-width: calc(33.33%);
	width: calc(33.33%);
}

#issue-list {
	display: none;
}
/*
#issue-list {
	margin: 0 0 0 0;
	max-height: calc(50vh - 150px);
	overflow-y: auto;
	overflow-x: hidden;
}*/

#commitD-list-group-header {
	color: white;
	background-color: steelblue;
	height: 45px;
	margin: 0 0 0 0;
	font-size: 18px;
	padding: 8px 8px 0px 0px;
	max-width: calc(33.33%);
	width: calc(33.33%);
}

#commit-list-panel {
	font-size: 16px;
	position: absolute;
	margin: 0 0 0 0;
	left: 5px;/*previous 15px*/
	top: 55px;/*previous 15px*/
	width: calc(20%);
	max-width: 500px;
	min-width: 325px;
	display: none;
}

#commit-list-group-header {
	color: white;
	background-color: steelblue;
	height: 45px;
	margin: 0 0 0 0;
	font-size: 18px;
	padding: 8px 8px 0px 0px;
}

#commit-list {
	margin: 0 0 0 0;
	height: calc(95vh - 75px);
	overflow-y: auto;
}

#commit-list::-webkit-scrollbar, #issue-list::-webkit-scrollbar,
	#news-list::-webkit-scrollbar {
	width: 10px;
}

#commit-list::-webkit-scrollbar-track, #issue-list::-webkit-scrollbar-track,
	#news-list::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

#commit-list::-webkit-scrollbar-thumb, #issue-list::-webkit-scrollbar-thumb,
	#news-list::-webkit-scrollbar-thumb {
	background-color: rgba(140, 140, 140, 0.4);
	outline: 1px solid gray;
}

#list::-webkit-scrollbar{
	width: 10px;
}

#list::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

#list::-webkit-scrollbar-thumb {
	background-color: rgba(140, 140, 140, 0.4);
	outline: 1px solid gray;
}

td#tableDetail {
    text-align: left;
    padding: 0;
    margin-bottom: 1em;
    margin-top: 1em;
    height: 1em;
    border-bottom: 1px solid lightgrey;
}

td#noNewsMsg {
    margin: 1em;
    padding: 1em;
    border: 1px solid lightgrey;
}

td p {
	margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 1em;
    margin-top: 1em;
}

.modalLink {
	height: 100%;
	border: none !important;
	padding-top: 1.5em !important;
}

th#tableHeader {
	font-size: large;
	border-bottom: 1px solid lightgrey;
}

#header-filter {
	color: black;
}

#clear-commits {
	height: 28px;
	color: black;
	padding: 3px 10px 2px 10px !important;
	margin-right: 3px;
}

#view-by-selection {
	position: fixed;
	right: 15px;
	top: 88px; /*previous: 47px*/
	width: 150px;
	background-color: rgb(255, 230, 170) !important;
	border-color: rgb(225, 135, 80) !important;
	border: 1px gray solid;
	text-align: center;
	z-index: -1;
}

#view-by-filter {
	position: fixed;
	right: 15px;
	top: 55px;/*previous: 15px*/
	display: none;
}

#view-by-btn {
	width: 150px;
}

.list-group-item-heading {
	font-size: 12px;
	font-weight: bold;
	font-stretch: semi-condensed;
	color: rgb(80, 80, 80) !important;
}

.list-group-item {
	border-radius: 0 !important;
}

.item-key {
	background-color: rgb(189, 204, 219) !important;
}

.list-group-item:hover {
	color: black !important;
	background-color: rgb(160, 160, 160) !important;
	border: 1px gray solid;
}

.list-group-item.active {
	background-color: rgb(255, 230, 170) !important;
	border-color: rgb(225, 135, 80) !important;
}

.list-group-item.active>.list-group-item-text {
	color: rgb(80, 80, 80) !important;
}

.dropdown-menu {
	position: relative !important;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #cccccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
	border-left-color: #ffffff;
}

.scrollable-menu {
	height: auto;
	max-height: 80vh;
	overflow-x: hidden;
}

.scrollable-menu::-webkit-scrollbar {
	width: 7px;
}

.scrollable-menu::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

.scrollable-menu::-webkit-scrollbar-thumb {
	background-color: rgba(140, 140, 140, 0.4);
	outline: 0px solid gray;
}

.node {
	font-size: 12px;
}

.node:hover {
	font-size: 14px;
	cursor: pointer;
}

.node text.inserted {
	fill: rgb(120, 160, 90);
}

.node text.removed {
	fill: rgb(225, 65, 55);
}

.node circle {
	fill: #fff;
	stroke: gray;
	stroke-width: 1.5px;
}

.node rect {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
	opacity: .925;
}

.node rect.folderPackage {
	fill: steelblue !important;
}

.node rect.class {
	fill: rgb(170, 210, 220) !important;
}

.link {
	fill: none;
	stroke: gray;
	stroke-width: 1.5px;
}

.line-inserted {
	color: rgb(120, 160, 90);
}

.line-removed {
	color: rgb(225, 65, 55);
}