@CHARSET "ISO-8859-1";

html, body {
	height: 100%;
}

#runToolForm {
	max-width: 80%;
    width: 80%;
    margin: 0 auto;
    max-height: 100%;
    height: 100%;
    padding-left: 1em;
    padding-right: 1em;    
    font-weight: bold;
    background: antiquewhite;
}

#runToolForm label {
	padding-top: 1em;
	padding-right: 1em;
	max-width: 25%;
	width: 250px;
}

#runToolForm input[type=text] {	
    margin-right: 5em;
}

#runToolForm input[type="file"] {
	display: inline-block;
}

#runToolForm fieldset {
	padding-bottom: 1em;
}

#runToolForm  fieldset label {
	display: inline;
	padding-top: 0.1em;	
    padding-left: 1em;
}

#runToolForm  fieldset legend {
	padding-top: 1em;
}

#createLinks {
	float: right;
	font-weight: bold;
}